<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <!--<link rel="stylesheet" href="~/css/site.css" />-->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
           integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

     <link rel="stylesheet" href="~/css/PoNote.css">-->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/jpg" href="~/img/fav_icon_poNote.png" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/PoNote.css">

    <title>@ViewData["Title"] WebAppPoNote</title>

</head>
<body>
    <div class="page-holder bg-cover">
        <header class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <img id="logo" src="~/img/Logo_poNote_small.png" alt="Logo poNote">
                </div>
               
                <div class="col-6 text-center">
                    <h1 class="pagetitle"> new <span>N</span>ote</h1>
                </div>
                <div class="col-3">
                    <p id="logout" class="text-right">
                        Hello, <span id="username">username</span> <span>
                            <a href="index.html">Logout</a>
                        </span>
                    </p>
                </div>
            </div>
        </header>
        <div class="container newnote">
            <div class=" row">
                <nav class="nav flex-column col-3 menucolumn">
                    <a class="nav-link" href="/Note/Create">New note</a>
                    <a class="nav-link" href="/Note/Update">Edit note</a>
                    <a id="expiring" class="nav-link" href="expiringnotes.html">Expiring</a>
                    <a class="nav-link" href="/Note/Index">My notes</a>
                    <a class="nav-link" href="/Note/Archived">Archived</a>
                </nav>
                <div class="noteview col-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid text-center text-white fixed-bottom">
        <p>Designed by <a href=#><b>poWeb</b></a> © 2020-2021 All rights reserved </p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
