@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    color: #1367C2;
}

h3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    color: #1367C2;
    line-height: 0.8em;
    padding-top: 0.3em;
}

p {
    color: #2D2D2D;
}

#logo {
    margin-top: 20px;
    padding-left: 20px;
}

#login {
    margin-top: 20px;
    text-align: right;
    font-family: 'Darker Grotesque', sans-serif;
    color: white;
}

img {
    max-width: 100%;
}

.sticker {
    position: relative;
    top: -60px;
}

.logout {
    margin-top: 20px;
    text-align: right;
    font-family: 'Darker Grotesque', sans-serif;
    color: white;
}

#login span a {
    font-family: 'Darker Grotesque', sans-serif;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    border-radius: 2px;
}

#logout span a {
    font-family: 'Darker Grotesque', sans-serif;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
    border-radius: 2px;
}

#termsofservice {
    color: #1367C2;
    padding-bottom: 30px;
    font-size: 0.8em;
}

    #termsofservice a {
        font-weight: 800;
    }

.pagetitle {
    color: rgba(0, 105, 194, 1);
    font-size: 4em;
    font-weight: 400;
    color: white;
}

    .pagetitle span {
        font-weight: 800;
    }

input {
    border: none;
    background-color: white;
    color: #1367C2;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Darker Grotesque', sans-serif;
}

button.submitregister {
    background-color: rgba(0, 105, 194, 1);
    border-radius: 2px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Darker Grotesque', sans-serif;
}

    button.submitregister:hover {     
        background-color: rgba(0, 105, 194, .8);
        color: white;
        transition: 0.30s ease-in-out;
    }

a {
    font-family: 'Darker Grotesque', sans-serif;
    color: #1367C2;
    text-decoration: none;
}

div.formcontainer {
    width: 60%;
    background-image: url("../img/note_no_pin.png");
    margin-top: 30px;
}

#stiker {
    position: relative;
    top: -30px;
}



.nav-link {
    text-align: left;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    color: white;
    padding-bottom: 22px;
    padding-top: 10px;
}

#si {
    color: #1367C2;
}

#su {
    color: #1367C2;
}

#si:hover {
    color: white;
}

#su:hover {
    color: white;
}

    .nav-link:hover {
        border-left: 4px solid white;
        color: white;
        background-color: #1367C2;
        transition: 0.30s ease-in-out;
    }

.onpage {
    font-size: 2em;
    transition: 0.30s ease-in-out;
    border-left: 4px solid white;
    background-color: rgba(0, 105, 194, 0.7);
}

#expiring.onpage {
    border-left: 4px solid #FF0F0F;
    background-color: rgba(0, 105, 194, 0.7);
}

#expiring:hover {
    border-left: 4px solid #FF0F0F;
}

.menucolumn {
    padding-top: 30px;
    padding-right: 0;
    border-radius: 2px;
    background-color: rgba(0, 105, 194, 0.5);
}



.noteview {
    border-radius: 2px;
    background-image: url("../img/note_no_pin.png");
    padding-top: 20px;
    padding-left: 23px;
    padding-right: 23px;
    padding-bottom: 20px;
}

.newnote {
    margin-top: 2em;
    width: 70%;
}

.inputnote {
    background-color: transparent;
    color: #1367C2;
    max-width: auto !important;
}

#extarea {
    background-color: transparent;
}

#newnoteform input.title {
    margin-top: 5px;
}

.form-control::placeholder {
    color: #1367C2;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5em;
}

.title::placeholder {
    font-size: 2em;
    font-weight: 700;
    padding-top: 10px;
}

#extarea {
    margin-bottom: 20px;
}

#exampleFormControlFile1 {
    background-color: transparent;
}

#formcontainer {
    padding-top: 50px;
}

.bluehr {
    border-top: 1px solid #1367C2;
    opacity: 1;
}

.whitehr {
    border-top: 1px solid white;
    opacity: 1;
}

.littlenoteinner {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .8);
    color: #2D2D2D;
    margin-bottom: 20px;
    padding: 10px;
    height:12em;
    overflow: hidden;
}

.fullnoteviewtitle {
    padding-left: 50px;
    padding-right: 50px;
}

.noteheader {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 105, 194, 0.8);
 
}

.noteheader-red {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FF0F0F;
    color: white;
   
  
}

.noteheader-yellow {
    padding-left: 10px;
    padding-right: 10px;
    background-color: yellow;
}

    .noteheader:hover {
        padding-left: 10px;
        padding-right: 10px;
        background-color: rgba(0, 105, 194, 1);
        transition: 0.30s ease-in-out;
    }

    .noteheader h3 {
        color: white;
    }

    .noteheader p {
        color: white;
    }

    .noteheader hr.mininote {
        color: white;
    }

.noteheader-red h3 {
    color: white;
}

.noteheader-red p {
    color: white;
}

.noteheader-red hr.mininote {
    color: white;
}


.noteheader-yellow h3 {
    color: #1367C2;
}

.noteheader-yellow p {
    color: #1367C2;
}

.noteheader-yellow hr.mininote {
    color: #1367C2;
}


#formcontainer form input, button {
    width: 100%;
}

form div.col-6, div.col-12 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.page-holder {
    min-height: 100vh;
}

#newnote {
    position: relative;
}

#hrsubmit {
    position: absolute;
    bottom: 0;
}

.notesview {
    border: 1px solid white;
}

.bg-cover {
    background: url(../img/1920_1080_1_bez_belejka.jpg);
    background-size: cover !important;
    padding-bottom: 70px;
}

.fixed-bottom {
    background-color: white;
    color: #1367C2;
}

    .fixed-bottom p {
        color: #1367C2;
        padding-top: 5px;
        font-family: 'Darker Grotesque', sans-serif;
    }

label {
    color: #1367C2;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    font-size: large;
}
