@model CreateNoteViewModel

@using (Html.BeginForm("Create", "Note", FormMethod.Post, new {@enctype ="multipart/form-data", @id = "newnoteform", @class="container" }))
{

        <div class="row">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control inputnote title", @placeholder = "Title" })
            <div class="col-6 text-end">
                <label for="expirydate" class="text-end">Expiration date:</label>
            </div>

            <div class="col-6">
                <input type="date" name="EndDate" class="form-control inputnote" id="expirydate">
            </div>

            <div class="col-11 text-end">
                <label for="priority">High priority:</label>
            </div>

            <div class="col-1 text-end">
                @Html.CheckBoxFor(c => c.Priority)
            </div>
            <hr class="col-12">
        </div>
        <div class="row">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "extarea", @rows = "5", @placeholder = "Your note..." })
        </div>
        <div class="row">
            <hr class="col-12">
            <input type ="file" name="ImageFile" class="form-control-file col-7" id="exampleFormControlFile1">
            <button type="submit" class="btn submitregister col-5">Save note</button>
        </div>
}



