@model CreateNoteViewModel
@*@foreach (var image in Model.)
	{
		 
	}*@
@using (Html.BeginForm("Create", "Note", FormMethod.Post, new {@enctype ="multipart/form-data", @id = "newnoteform", @class="container" }))
{

<div class="row">
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control inputnote title", @placeholder = "Title" })


    <label class="col-12 text-end" id="priority">
        Expiration date:
        <input type="date" name="EndDate" class="form-control inputnote" id="expirydate">

    </label>
    <div class="col-11 text-end">
        <label for="priority">High priority:@Html.CheckBoxFor(c => c.Priority)</label>
    </div>

    @*<label class="col-12 text-end" id="priority">
            high priority:
            <input type="checkbox" name="highpriority" id= "Priority">
            <span class="checkmark"></span>
        </label>*@

    @*@Html.CheckBoxFor(m => m.Priority);*@

    @*<div class="col-6 text-end">
            <label for="expirydate" class="text-end">Expiration date:</label>
        </div>

        <div class="col-6">
            <input type="date" name="EndDate" class="form-control inputnote" id="expirydate">
        </div>

        <div class="col-11 text-end">
            <label for="priority">High priority:@Html.CheckBoxFor(c => c.Priority)</label>
        </div>

        <div class="col-1 text-end">
            @Html.CheckBoxFor(c => c.Priority)
        </div>*@

</div>
        <div class="row">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "extarea", @rows = "5", @placeholder = "Your note..." })
        </div>
        <div class="row">
            <hr class="col-12">
            <input type ="file" name="ImageFile" class="form-control-file col-7" id="exampleFormControlFile1">
            <button type="submit" class="btn submitregister col-5">Save note</button>
        </div>
}



