<div class="text-center" style="color:#1367C2;">
    <h1 style="font-size: 3em;">My po<span>N</span>otes account</h1>
    <h3>And never miss a thought again</h3>
</div>

@*<div class="text-center">
    <h1 class="display-4">My poNote account</h1>
    <h3>And never miss a thought again</h3>
</div>*@
